<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	        xmlns:context="http://www.springframework.org/schema/context"
	        xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	        xmlns:tx="http://www.springframework.org/schema/tx"
	        xsi:schemaLocation=
	        "http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	        http://www.springframework.org/schema/data/mongo 
	        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
	        ">


    <bean id="threadPool" class="com.channelsoft.ems.register.util.ThreadPoolUtil"></bean>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">

        <property name="driverClass" value="com.mysql.jdbc.Driver" />

        <!-- <property name="jdbcUrl" value="jdbc:mysql://211.103.182.54:20006/cdesk?characterEncoding=UTF-8" />
        <property name="user" value="root" />
        <property name="password" value="" /> -->
        <!-- CD开发环境 -->
        <property name="jdbcUrl" value="jdbc:mysql://10.132.10.213:3306/cdesk?characterEncoding=UTF-8" />
        <property name="user" value="root" />
        <property name="password" value="cdesk" />

        <property name="minPoolSize" value="1" />
        <property name="maxPoolSize" value="10" />
        <property name="maxIdleTime" value="1800" />
        <property name="acquireIncrement" value="2" />
        <property name="maxStatements" value="0" />
        <property name="initialPoolSize" value="2" />
        <property name="idleConnectionTestPeriod" value="1800" />
        <property name="acquireRetryAttempts" value="30" />
        <property name="breakAfterAcquireFailure" value="false" />
        <property name="testConnectionOnCheckout" value="false" />

    </bean>

    <!-- Start of Report jdbcTemplate Setting -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>

    <context:annotation-config />
    <tx:annotation-driven />

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>

    <bean id="baseJdbcDao" abstract="true"
          class="com.channelsoft.cri.dao.jdbc.BaseJdbcDao">
        <property name="jdbcTemplate">
            <ref bean="jdbcTemplate" />
        </property>
    </bean>

    <!-- CD开发环境 -->
    <mongo:mongo host="10.132.10.213" port="27017" >
	  <mongo:options
	     connections-per-host="100"
	     threads-allowed-to-block-for-connection-multiplier="4"
	     connect-timeout="3000"
	     max-wait-time="3000"
	     auto-connect-retry="true"
	     socket-keep-alive="true"
	     socket-timeout="1500"
	     slave-ok="true"
	     write-number="1"
	     write-timeout="0"
	     write-fsync="true"/>
	</mongo:mongo>
	<mongo:db-factory dbname="cdesk" mongo-ref="mongo" />
	
	<bean id="cdeskMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
	</bean>
	
</beans>
