<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	 <bean id="redisCacheTask" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"> 
			<value>com.channelsoft.ems.redis.task.ParamCacheQuartzTask</value> 
		</property>
	</bean> 
	
	<bean id="redisCacheTaskJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="redisCacheTask" /> 
		<property name="cronExpression"> 
			<value>* */5 * * * ?</value> 
		</property> 
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="redisCacheTaskJobTrigger" />
			</list>
		</property>
	</bean>
</beans>