#left-history {
  width: 70%;
  padding: 20px;
  background: #fff;
  overflow: auto;
  height: 100%;
}
#left-history .row {
  padding: 10px 20px;
  width: 100%;
}
#left-history .row h4.In {
  width: 15%;
  line-height: 30px;
  font-size: 14px;
  float: left;
  margin: 0;
  padding-right: 10px;
}
#left-history .row h4.In label {
  color: #777;
  font-weight: 600;
}
#left-history .row .right-In {
  width: 80%;
  float: left;
}
#left-history .row .right-In input[type=text] {
  height: 30px;
}
#left-history .row .right-In input[type=text],
#left-history .row .right-In textarea {
  min-width: 400px;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
  background: #fff;
  border: 1px solid #d5d6d9;
  border-radius: 2px;
  transition: all ease 0.4s;
}
#left-history .row .right-In input[type=text]:hover,
#left-history .row .right-In textarea:hover {
  border-color: #c1c2c5;
}
#left-history .row .right-In input[type=text]:focus,
#left-history .row .right-In textarea:focus {
  border-color: #21d376;
  box-shadow: 0 0 3px rgba(33, 211, 118, 0.35);
}
#left-history .row .right-In textarea {
  min-height: 100px;
}
#left-history .row .right-In select {
  border-color: #d5d6d9;
  border-radius: 2px;
  height: 30px;
  min-width: 100px;
  margin-right: 5px;
  background: #fff;
}
#left-history .row .right-In select:hover {
  border-color: #21d376;
  box-shadow: 0 0 3px rgba(33, 211, 118, 0.35);
}
#left-history .history-footer {
  margin-top: 26px!important;
}
#left-history .history-footer .btn {
  margin-bottom: 0!important;
}
#right-history {
  width: 30%;
  background: #fff;
  border-left: 1px solid #e2eaec;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#right-history .history-header {
  width: 100%;
  position: fixed;
  z-index: 12;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
#right-history .history-header .sidebar {
  padding: 0 20px;
  font-size: 16px;
}
#right-history .right-content {
  padding: 65px 20px 0;
  height: 100%;
  overflow: auto;
}
#right-history .right-content .history-list {
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  font-size: 16px;
}
#right-history .right-content .history-list label {
  color: #777;
  padding-right: 20px;
}
#right-history .right-content li {
  line-height: 35px;
}
